                body {
                    background-image: url(../img/img-bg.jpg);
                    width: 100%;
                }
                
                .container-fluid h1 {
                    color: #fff;
                    text-align: center;
                    margin-top: 25px;
                    word-wrap: nowrap;
                    font-size: 25px;
                }
                
                .menu {
                    background-color: #c90017;
                }
                
                .container-fluid {
                    background-color: #c90017;
                    border: 1px solid #c90017;
                    height: 90px;
                    padding: 0px;
                    margin: 0
                }
                
                .container {
                    padding: 0;
                }
                
                .accrocheCOn {
                    background-color: #c90017;
                    color: #fff;
                    text-align: center;
                    height: 70px;
                    padding: 20px;
                    margin-top: -2px;
                    margin-left: -2px;
                    margin-right: -2px;
                }
                
                .Accroche {
                    background-color: #c90017;
                    color: #fff;
                    height: 70px;
                    padding: 10px;
                    margin-top: -8px;
                    margin-left: -2px;
                    margin-right: -2px;
                }
                
                .Accroche h2,
                p {
                    margin-left: 2%;
                    margin-top: -10px;
                }
                
                button {
                    background-color: #c90017;
                    color: #fff;
                }
                
                .inscript,
                a {
                    float: right;
                    margin-top: 15px;
                    text-decoration: none;
                    margin-right: 15px;
                }
                
                .inscript-link {
                    color: #303030;
                    opacity: 0.5;
                }
                
                .form-control {
                    background-color: #eee;
                    height: 50px;
                }
                
                a {
                    text-decoration: none;
                    color: #c90017;
                }
                
                a:hover {
                    color: #c90017;
                }
                
                .inscript-link:hover {
                    color: #c90017;
                }
                
                .img-fluid {
                    width: 93px;
                    float: left;
                    margin-top: -3px;
                    margin-left: -17px;
                }
                
                .alert {
                    height: 80px;
                    text-align: center;
                    font-size: 25px;
                }
                /* .container {
                    padding: 0px;
                    background-color: #c90017;
                    border-radius: 20px 20px 0 0;
                }
                
                .container h5 {
                    text-align: center;
                    color: #fff;
                }
                
                .body-admin {
                    background-color: #ddd;
                    height: 500px;
                }
                
                .body-admin .admin-nav {
                    background-color: #000;
                } */